#container {
    display: flex;
    flex-direction: column;
}

#btnContainer {
    display: flex;
}

#numBtns {
    display: flex;
    flex-wrap: wrap;
}

.num-btn {
    display: flex;
    flex: 1 0 calc(100% / 3);
}

.op-btn {
    display: flex;
    flex-direction: column;
    width: 30px;
    flex: 1 0 auto;
}